:root {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: #111111;
  --fadedfontcolor: #9c9c9c;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 57%;
  padding: 0 2em;
  background-color: #090909;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav img {
  height: 100%;
  width: 40px;
}

.info {
  position: relative;
  width: 75%;
  margin-top: 13em;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #333333;
  height: 360px;
  background-color: #090909;
}

.nameandtitle {
  position: absolute;
  top: 170px;
  left: 16%;
  transform: translateX(-15%);
}

.nameandtitle h1 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
}

.nameandtitle p {
  font-size: 0.875rem;
  margin: 0.625em 0;
  color: var(--fadedfontcolor);
}

.infosection p {
  font-size: 0.875rem;
  margin: 0.625em 0;
  color: var(--fadedfontcolor);
}

.sideandmain {
  height: auto;
  width: auto;
  display: flex;
  margin-top: 2.625em;
  position: relative;
  gap: 7%;
}

.sidebarmain {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 26%;
  font-size: 0.875rem;
}

.sidebar {
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 0.875rem;
}

.sidebar p {
  margin: 0;
  margin-bottom: 1.25em;
  font-size: 0.875rem;
}

.sidebar h3 {
  margin: 0.625em 0 0.3125em 0;
  font-size: 0.875rem;
}

.biocard {
  height: auto;
  width: auto;
  background-color: #333333;
  border-radius: 10px;
  padding: 0.9375em;
  font-size: 0.875rem;
  margin-bottom: 1.875em;
}

.image {
  height: 120px;
  width: 100%;
  background-color: #161616;
  border-radius: 10px;
  margin-bottom: 1.25em;
}

.section {
  position: relative;
  width: auto;
  background-color: #090909;
  border-radius: 10px;
  border: 1px solid #333333;
  padding: 1.25em 1.875em 1.875em 1.875em;
  overflow: hidden;
}

.section h3 {
  border-bottom: 1px solid #333333;
  padding-bottom: 1.25em;
  margin: 0;
}

.section p {
  margin-top: 1.25em;
}

.showmorebtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: var(--fadedfontcolor);
  font-size: 0.875rem;
  background-color: #090909;
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showmorebtn a {
  cursor: pointer;
}

.projectcards{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 120px;
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: #090909;
  cursor: pointer;
  margin: 1.25em 0;
}

.projectname {
  /* overflow: hidden;
  text-overflow: ellipsis; */
  width: 60%;
  height: auto;
  padding: 1.25em;
  border-radius: 10px;
}

.projectname img {
  width: auto;
  height: 20px;
  margin: 0em .3em;
}

.projectname h2 {
  margin: 0 0 .5em 0;
}

.skillset {
  border-bottom: 1px solid #333333;
  padding: 0.9375em 0.9375em 1.25em 0.9375em;

}

.links {
  margin: 1.25em 0;
  border-bottom: 1px solid #333333;
  padding-bottom: 5em;
}

.links a {
  text-decoration: none;
  display: block;
  padding: 0.3125em 0 0.3125em 1.875em;
  color: #fff;
}

#contactbtn {
  border: 1px solid #9468EE;
  background-color: #221933;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 0.5em 1em;
}

#contactbtn:hover {
  background-color: #4c3773;
}

.contact {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.contact .section{
  height: 350px;
}

#expandsidebar {
  display: none;
}

.footer {
  width: 100%;
  height: 6em;
  margin-top: 2em;
  background-color: #090909;
  border-top: 1px solid #333333;
  padding: 1.5em 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

.footer img {
  width: 40px;
}

@media (max-width: 768px) {
  .info{
    width: 85%;
  }

  .sideandmain {
    flex-direction: column;
    align-items: center;
  }

  .sidebarmain {
    margin-bottom: 1.875em;
    width: auto;
    height: 380px;
    border-radius: 10px;
    padding: 1.875em;
    background-color: #333333;
    font-size: 0.875rem;
    transition: max-height 1s;
  }

  .open {
    height: auto;
  }

  #expandsidebar {
    display: block;
    text-align: center;
    cursor: pointer;
  }

  .sidebar {
    overflow: hidden;
    margin-bottom: 2.5em;
    position: relative;
    top: 0;
  }

  .biocard {
    margin: 0;
    padding: 0;
    background: none;
  }

  .skillset {
    padding: 0;
  }

  .links {
    margin: 0;
    padding: 0;
  }

  .project {
    background: rgba(76, 175, 80, 0.3);
    background-repeat: no-repeat;
  }


  .projectcards {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .projectname {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .info{
    width: 92%;
  }

  .contact {
    width: 80%;
  }
}